<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dylan.demo.dao.UserMapper">

    <resultMap type="User" id="userMap">
        <id property="userId" column="user_id"/>
        <result property="userLogin" column="user_login"/>
        <result property="userName" column="user_name"/>
        <result property="userPwd" column="user_pwd"/>
        <result property="userType" column="user_type"/>
    </resultMap>

    <select id="login" parameterType="User" resultMap="userMap">
		select * from user_info
		where user_name = #{userName} and user_pwd = #{userPwd}
	</select>

    <insert id="regist" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
		insert into user_info(user_login,user_pwd,user_name)
		values(#{userName},#{userPwd},#{userName})
	</insert>

    <select id="getUserByUserName" parameterType="String" resultType="Integer">
		select count(user_name) from user_info
		where user_name = #{userName}
	</select>

    <insert id="insertToSourceGroup" parameterType="Group">
        insert into source_group(group_id,group_name,user_id)
        values(#{groupId},#{groupName},#{userId})
    </insert>
</mapper>